<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.spochansecondversion">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".logInSignUp.RegisterActivity"></activity>
        <activity android:name=".SettingsActivity" />
        <activity android:name=".RegListActivity" />
        <activity android:name=".Rating.EditRatingMembers" />
        <activity android:name=".News.AddNewsActivity" />
        <activity android:name=".FullCompetitionItem" />
        <activity android:name=".AddCompetitionsActivity" />
        <activity android:name=".EditMyProfileActivity" />
        <activity android:name=".Rating.RatingActivity" />
        <activity android:name=".MyProfileActivity" />
        <activity android:name=".CompetitionsActivity" />
        <activity android:name=".News.NewsActivity" />
        <activity android:name=".logInSignUp.LogInActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>