<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.spochansecondversion">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo_spochan"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
<!--        <activity android:name=".logInSignUp.RegisterActivity" />-->
<!--        <activity android:name=".SettingsActivity" />-->
        <activity android:name=".Rating.EditRatingMembers" />
        <activity android:name=".News.AddNewsActivity" />
        <activity android:name=".Competition.FullCompetitionItem" />
        <activity android:name=".Competition.AddCompetitionsActivity" />
        <activity android:name=".Rating.RatingActivity" />
        <activity android:name=".Competition.CompetitionsActivity" />
        <activity android:name=".News.NewsActivity" />
        <activity android:name=".logInSignUp.LogInActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>